*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
body {
   line-height: 1;
   /* ====ІНДИВІДУАЛЬНО==== */
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;


}
body::-webkit-scrollbar{
   display: none;
   -ms-overflow-style: none;
   scrollbar-width: none;
}
html,
body {
   height: 100%;
   min-width: 320px;
}

input {
   outline: none;
}

main {
   flex: 1 1 auto;
}
img {
   max-width: 100%;
	vertical-align: middle;

}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

li {
   list-style-type: none;
}

.wrapper {
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

/* ====ІНДИВІДУАЛЬНО==== */

[class*=__conteiner] {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0px 10px;
}

